# Virtual environment
venv/
.env

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Django specific
db.sqlite3
/media/
/staticfiles/

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Miscellaneous
.idea/       # IDE-specific files (e.g., PyCharm)
.vscode/     # VSCode settings
*.swp        # Vim swap files
